@model IEnumerable<BasketballTickets.Models.League>

@{
    ViewData["Title"] = "Leagues";
}

<h2 class="center center-bold">@ViewData["Title"]</h2>

<p>
    <button class="btn btn-primary">
        <a asp-action="Create"><span class="glyphicon glyphicon-plus-sign"></span> Create New </a>
    </button>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="colored-border" onclick="location.href = '@(Url.Action("Details", "Leagues", new { id = item.Id }))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@item.LogoPath" height="40" width="20" asp-append-version="true" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
</table>
