@model IEnumerable<BasketballTickets.Models.GameType>

@{
    ViewData["Title"] = "Game Types";
}

<h2 class="center center-bold">@ViewData["Title"]</h2>

<p>
    <button class="btn btn-primary">
        <a asp-action="Create"><span class="glyphicon glyphicon-plus-sign"></span> Create New </a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="colored-border" onclick="location.href = '@(Url.Action("Details", "GameTypes", new { id = item.Id }))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="btn-group btn-group-toggle">
                        <label class="btn btn-primary">
                            <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-cog"></span> Edit</a>
                        </label>
                        <label class="btn btn-primary">
                            <a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                        </label>
                    </div>
                </td>
            </tr>
            }
        </tbody>
</table>
