@model List<BasketballTickets.Models.Team>
@{
    ViewData["Title"] = "Home Page";
    var bannerHighlightGameId = ((HighlightGame)ViewData["BannerHighlightGame"]).GameId;
    var bannerHighlightImage = ((HighlightGame)ViewData["BannerHighlightGame"]).ImagePath;
    var highlightGames = (ICollection<HighlightGame>)ViewData["HighlightGames"];
}

<br />

<div>
    <a asp-action="Book" asp-controller="Tickets" asp-route-gameId="@bannerHighlightGameId"><img src="@bannerHighlightImage" asp-append-version="true"/></a>
</div>

<br />

<div class="row">
    @foreach(HighlightGame game in highlightGames)
    {
        <div class="col-md-3">
            <div class="highlight-game">
                <text class="bold" style="color:#022a5c">@game.Title</text>
                <a asp-action="Book" asp-controller="Tickets" asp-route-gameId="@game.Game.Id"><img src="@game.ImagePath" width="219" height="65" asp-append-version="true"/></a>

            </div>
        </div>
    }
</div>

<br />

<form asp-action="Index" asp-controller="Games" method="get">
    <div class="row">
        <div class="col-md-4">
            <label class="control-label">Game Type:</label>
            <select name="gameTypeId" class="form-control" asp-items="ViewBag.GameTypeId">
                <option value="" selected>All Games</option>
            </select>
        </div>
        <div class="col-md-4">
            <label class="control-label">Team:</label>
            <select name="teamId" class="form-control" asp-items="ViewBag.TeamId">
                <option value="" selected>All Teams</option>
            </select>
        </div>
        <div class="col-md-4 ticket-search-section">
            <button class="btn btn-primary" type="submit">
                Find Tickets <i class="glyphicon glyphicon-tag"></i>
            </button>
            <input type="checkbox" name="hideAwayGames" value="true" />
            <label class="control-label">Hide Away Games</label>
        </div>
    </div>
</form>

<br /><br />

<div class="row">

    @if(Model.Count > 0)
    {
        foreach (var team in Model)
        {
            <div class="col-md-2" style="margin: 15px">
                <a asp-action="Index" asp-controller="Games" asp-route-teamId="@team.Id">
                    <img src="@team.LogoPath" width="200" height="150" asp-append-version="true" />
                </a>
            </div>
        }
    } else
    {
        <div class="col-md-3 col-md-offset-4">No teams are available.</div>
    }
</div>
