@model BasketballTickets.Models.Game

@{
    ViewData["Title"] = "Book";
}

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <img src="@Model.HomeTeam.LogoPath" width="80px" height="64px" asp-append-version="true">
        </div>
        <div class="col-md-4">
            <p><b>@ViewBag.GameDate</b></p>
            <p><b>@Model.HomeTeam.Name vs @Model.AwayTeam.City @Model.AwayTeam.Name</b></p>
            <p><i>@Model.HomeTeam.Arena.Name, @Model.HomeTeam.City</i></p>
        </div>
        <div class="col-md-offset-5 col-md-1">
            <img src="@Model.AwayTeam.LogoPath" width="80px" height="64px" asp-append-version="true">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            <h3 class="center-bold">Remaining seats:</h3>
            <br />
            @if(Model.Tickets.Count > 0)
            { 
                foreach(var ticket in Model.Tickets)
                {
                    <button onclick="bookSeat(this, @ticket.SeatNo);" class="btn btn-info ticket-btn">Seat #@ticket.SeatNo</button>
                }
            } else
            {
                <h4 class="center">No seats remaining.</h4>
            }
        </div>
        <div class="col-md-4">
           <div class="row">
                <h4 class="center-bold">Selected Seats:</h4>
                <div id="selected-seats"></div>
           </div> 
           <br />
           <div class="row center">
               <button class="btn btn-primary">Add to cart <i class="glyphicon glyphicon-shopping-cart"></i></button>
               <button class="btn btn-success">Check out <i class="glyphicon glyphicon-ok-sign"></i></button>
           </div> 
        </div>
    </div>
</div>


