@model BasketballTickets.Models.ViewModels.TicketsBookingViewModel

@{
    ViewData["Title"] = "Book";
}

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <img src="@Model.Game.HomeTeam.LogoPath" width="80px" height="64px" asp-append-version="true">
        </div>
        <div class="col-md-4">
            <p><b>@ViewBag.GameDate</b></p>
            <p><b>@Model.Game.HomeTeam.Name vs @Model.Game.AwayTeam.City @Model.Game.AwayTeam.Name</b></p>
            <p><i>@Model.Game.HomeTeam.Arena.Name, @Model.Game.HomeTeam.City</i></p>
        </div>
        <div class="col-md-offset-5 col-md-1">
            <img src="@Model.Game.AwayTeam.LogoPath" width="80px" height="64px" asp-append-version="true">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            <h3 class="center-bold">Remaining seats:</h3>
            <br />
            <div id="available-seats">
                @if(Model.AvailableTickets.Count > 0)
                {
                    foreach (var ticket in Model.AvailableTickets)
                    {
                        <button onclick="bookSeatBtn(this, { id: @ticket.Id, seatNo: @ticket.SeatNo, price: @ticket.Price, homeTeamImg: '@Model.Game.HomeTeam.LogoPath', awayTeamImg: '@Model.Game.AwayTeam.LogoPath' } )" class="btn btn-info ticket-btn">Seat #@ticket.SeatNo ($@ticket.Price)</button>
                    }
                } else
                {
                    <h4 class="center">No seats remaining.</h4>
                }
            </div>
        </div>
        <div class="col-md-4">
           <div class="row">
                <h4 class="center-bold">Selected Seats:</h4>
                <div id="booked-seats">
                    @{
                        decimal totalTicketsPrice = 0;
                    }
                    @if(Model.BookedTickets.Count > 0)
                    { 
                        foreach(var ticket in Model.BookedTickets)
                        {
                            <div class="row center">
                                <button onclick="unbookSeatBtn(this, { id: @ticket.Id, seatNo: @ticket.SeatNo, price: @ticket.Price, homeTeamImg: '@Model.Game.HomeTeam.LogoPath', awayTeamImg: '@Model.Game.AwayTeam.LogoPath' } )" class="btn btn-success ticket-btn">Seat #@ticket.SeatNo ($@ticket.Price)</button>
                            </div>
                            totalTicketsPrice += ticket.Price;
                        }
                    } else
                    {
                        <h4 class="center">No seats booked.</h4>
                    }
                </div>
                <hr />
                <div>
                    <h4 class="bold">Tickets price: $<text id="totalGameTicketsPrice">@totalTicketsPrice</text></h4>
                    <h4 class="bold">Total price: $<text id="totalTicketsPrice">@ViewData["TotalCartPrice"]</text></h4>
                </div>
           </div> 
           <br />
           <div class="row center">
               <a asp-controller="Orders" asp-action="Create" class="btn btn-success btn-block bold">Check out <i class="glyphicon glyphicon-ok-sign"></i></a>
           </div> 
        </div>
    </div>
</div>

