@model IEnumerable<BasketballTickets.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<h2 class="center center-bold">@ViewData["Title"]</h2>

<p>
    <button class="btn btn-primary">
        <a asp-action="Create"><span class="glyphicon glyphicon-plus-sign"></span> Create New </a>
    </button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SeatNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="location.href = '@(Url.Action("Details", "Tickets", new { id = item.Id }))'">
                <td>
                    @Html.DisplayFor(modelItem => item.SeatNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
</table>
