@model BasketballTickets.Models.Game

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeTeam.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AwayTeam.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GameType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GameType.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TicketPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TicketPrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-primary">
            <i class="glyphicon glyphicon-trash"></i> Delete
        </button>
        <div class="align-right">
            <button class="btn btn-primary">
                <a asp-action="Index"><span class="glyphicon glyphicon-share-alt"></span> Back to List</a>
            </button>
        </div>
    </form>
</div>
