@model BasketballTickets.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeTeam.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AwayTeam.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GameType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GameType.Name)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-primary">
        <a asp-action="Edit" asp-route-id="@Model.Id"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    </button>
    <div class="align-right">
        <button class="btn btn-primary">
            <a asp-action="Index"><span class="glyphicon glyphicon-share-alt"></span> Back to List</a>
        </button>
    </div>
</div>
