@model IEnumerable<BasketballTickets.Models.ViewModels.CategorizedGamesViewModel>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Games";
}

<h2 class="center center-bold">@ViewData["GamesTitle"]</h2>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{ 
    <p>
        <button class="btn btn-primary">
            <a asp-action="Create"><span class="glyphicon glyphicon-plus-sign"></span> Create New </a>
        </button>
    </p>
}

<form asp-action="Index" asp-controller="Games" method="get">
    <div class="row">
        <input type="text" name="teamId" value="@ViewBag.TeamId" hidden/>
        <div class="col-md-4">
            <label class="control-label">Game Type:</label>
            <select name="gameTypeId" class="form-control" asp-items="ViewBag.GameTypeId">
                <option value="" selected>All Games</option>
            </select>
        </div>
        <div class="col-md-3 col-md-offset-5 ticket-search-section">
            <button class="btn btn-primary" type="submit">
                Find Tickets <i class="glyphicon glyphicon-tag"></i>
            </button>
            <input type="checkbox" name="hideAwayGames" value="true" />
            <label class="control-label">Hide Away Games</label>
        </div>
    </div>
</form>

<br />

@foreach (var batchOfGames in Model)
{
    <div class="container">
        <div>
            <b style="font-size: x-large">@batchOfGames.GamesType</b>
            <b style="font-size: large; float:right">@batchOfGames.Games.Count 
                @if(batchOfGames.Games.Count == 1)
                {
                    <text>game</text>
                } else
                {
                    <text>games</text>
                }
            </b>
        </div>
        @foreach (var item in batchOfGames.Games)
        {
            <div id="game-selection" class="row colored-border" onclick="location.href = '@(Url.Action("Details", "Games", new { id = item.Game.Id }))'">
                <div class="col-md-3">
                    <p>@item.DayOfWeek</p>
                    <h3 class="dayNumber bold">@item.DayOfMonth</h3>
                    <p>@item.TimeOfDay</p>
                    <p>@item.Venue</p>
                </div>
                <div class="col-md-6">
                    <br /><br />
                    <div class="row">
                        <div class="col-md-3">
                            <text class="bold">@item.Game.AwayTeam.City</text>
                            <br />
                            <text class="bold">@item.Game.AwayTeam.Name</text>
                        </div>
                        <div class="col-md-2">
                            <img src="@item.Game.AwayTeam.LogoPath" width="80px" height="64px" asp-append-version="true">
                        </div>
                        <div class="col-md-1 center">
                            <br />
                            <text class="bold">@@</text>
                        </div>
                        <div class="col-md-2">
                            <img src="@item.Game.HomeTeam.LogoPath" width="80px" height="64px" asp-append-version="true">
                        </div>
                        <div class="col-md-3">
                            <text class="bold">@item.Game.HomeTeam.City</text>
                            <br />
                            <text class="bold">@item.Game.HomeTeam.Name</text>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <br /><br />
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <div class="btn-group btn-group-toggle">
                            <label class="btn btn-primary">
                                <a asp-action="Edit" asp-route-id="@item.Game.Id"><span class="glyphicon glyphicon-cog"></span> Edit</a>
                            </label>
                            <label class="btn btn-primary">
                                <a asp-action="Delete" asp-route-id="@item.Game.Id"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                            </label>
                        </div>
                    }
                    else
                    {
                        <button class="btn btn-success">
                            <a>Buy Tickets <span class="glyphicon glyphicon-tag"></span></a>
                        </button>
                    }
                </div>
            </div> 
        }
        <br />
    </div>
}
