@model IEnumerable<BasketballTickets.Models.Game>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Games";
}

<h2 class="center center-bold">@ViewData["GamesTitle"]</h2>

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{ 
    <p>
        <button class="btn btn-primary">
            <a asp-action="Create"><span class="glyphicon glyphicon-plus-sign"></span> Create New </a>
        </button>
    </p>
}

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="colored-border" onclick="location.href = '@(Url.Action("Details", "Games", new { id = item.Id }))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                    
                </td>
                <td>
                    <img src="@item.AwayTeam.LogoPath" width="100" height="75" asp-append-version="true" />
                    <text class="center-bold"> @@ </text>
                    <img src="@item.HomeTeam.LogoPath" width="100" height="75" asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameType.Name)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span> |</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
            }
        </tbody>
</table>
